{
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["node", "prettier"],
  "extends": ["eslint:recommended", "plugin:node/recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "always",
        "semi": false,
        "trailingComma": "es5",
        "tabWidth": 2,
        "singleQuote": true,
        "printWidth": 120,
        "endOfLine": "auto",
        "useTabs": false
      }
    ],
    "no-process-exit": "off",
    "node/exports-style": ["error", "module.exports"],
    "no-unused-vars": "off",
    "node/no-unsupported-features/node-builtins": ["error", { "version": "16.15.0" }]
  }
}
