.footer {
  padding: 70px 0;
  box-shadow: $box-shadow;
  font-size: 1.1rem;
  @include mobile {
    font-size: 3vw;
  }
  &__logo {
    height: 100px;
  }
  &__about {
    p {
      text-align: justify;
    }
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    @include mobile {
      font-size: 3.2vw;
    }
    font-weight: 600;
  }
  &__content {
    p {
      margin-bottom: 0.8rem;
    }
  }
}
